<footer class="header">
	<div class="container">
		<div class="header_body">
			<div class="footer_title">
				<h2>Challange someone</h2>
			</div>
			<div class="header_subtitle">
				<p>Know someone who's been going on about doing something but keeps putting it off?	Let them put their money where their mouth is and make them accountable to reach their goal.</p>
			</div>

			<div class="header_block_form">
				<form action="" class="header_form">
				<div class="header_form_row">
					<div class="header_row_left">
						<input type="text" placeholder="Enter a goal">
					</div>
					<div class="header_row_right">

						<label class="date_input"><span>by</span><input type="date" id="start" name="trip-start" value="2018-07-22"></label>

						<div class="custom-select-wrapper">
							<span>or pay</span>
							<div class="custom-select-content">
								<div class="custom-select">
									<div class="custom-select__trigger"><span><input ></span>
										<div class="arrow"></div>
									</div>
									<div class="custom-options">
										<div class="custom-option selected" style="padding: 0; height: 0px;"></div>
										<div class="custom-option ">$25</div>
										<div class="custom-option">$50</div>
										<div class="custom-option ">$100</div>
										<div class="custom-option">$250</div>
										<div class="custom-option">$1000</div>	
									</div>
								</div>
						</div>
						</div>
					</div>
				</div>
				<div class="header_form_row">
					<div class="header_row_left">
						<input type="text" placeholder="Your name">
						<input type="email" placeholder="Your email">
					</div>
					<div class="header_row_right">
						<input type="text" placeholder="Your friend's name">
						<input type="email" placeholder="Your friend's email">
					</div>
				</div>
				<button class="action-challange" type="submit">
					<i class="fas fa-rocket"></i> Challange
				</button>
			</form>
			</div>



		</div>
	</div>
</footer>