<secrion class="users">
	<div class="container">
		<div class="users__body">
			<div class="users_title">
				<h2>2464 people <span></span>have pledged $331,999</h2>
			</div>
				<div class="users_row_content">
					<div class="users_row__right">
						<div class="users_info">
							<p>I will <span>organize my life</span> or <span>pay $250</span></p>
							<a href="" class="author_right">@thejulielogan</a>
						</div>
						<div class="users_img">
							<a href=""><img src="../img/image_right_1.jpg" alt=""></a>
						</div>
					</div>

				<div class="users_row__left">
					<div class="users_img">
						<a href=""><img src="../img/image_left_1.jpg" alt=""></a>
					</div>
					<div class="users_info">
						<p>I will <span>start a blog</span> or <span>pay $100</span></p>
						<a href="" class="author_left">@kisasizm</a>
					</div>
				</div>

				<div class="users_row__right">
					<div class="users_info">
						<p>I will <span>finish my paper</span> or <span>pay $100</span></p>
						<a href="" class="author_right">@sophaboph</a>
					</div>
					<div class="users_img">
						<a href=""><img src="../img/image_right_2.jpg" alt=""></a>
					</div>
				</div>

				<div class="users_row__left">
					<div class="users_img">
						<a href=""><img src="../img/image_left_2.jpg" alt=""></a>
					</div>
					<div class="users_info">
						<p>I will <span>run a marathon </span> or <span>pay $50</span></p>
						<a href="" class="author_left">@erinroselarsen</a>
					</div>
				</div>
				</div>
		</div>
	</div>
</secrion>