<section class="verification">
  <div class="container">
    <div class="verification_body">
      <div class="verification__title">
        <h1></h1>
      </div>
      <div class="verification__subtitle">
        <h3>Succesfully verified! Thanks!</h3>
      </div>
      <div class="verification_content">
        <div class="verification_content_info">
          <span>Цель:</span>
          <p>Выучить 1000 слов за месяц</p>
        </div>

        <div class="verification_content_info">
          <span>Deadline:</span>
          <p>Сентябрь - 1 - 2021</p>
        </div>

        <div class="verification_content_info">
          <span>Оплата в случаи неудачи:</span>
          <p>1000 тг </p>
        </div>

        <div class="verification_content_info">
          <span>Почта:</span>
          <p>07almasashimbekov@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</section>